.carousel-card {
    height: auto;
    position: absolute;
    /* object-fit: cover; */
    overflow: hidden;
  
    transition: 0.5s ease-in-out;
    opacity: 0;
  }

  .carousel-card-active {
    margin-inline:auto;
    opacity: 1;
    width:100%;
    height:100%;
    
  }
  

  